body {
    background-color: #fff;
    color: #333;
    font-family: "Verdana", sans-serif;
    padding: 1em;
}

header {
    background-color: yellow;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul li {
    background-color: blue;
    border-radius: 0.2em;
    padding: 0.5em;
    text-decoration: none;
}

/* this is just for the nav preview image */

.nav-img {
    width: 100%;
}

.flex-container-1 {
    display: flex;
    flex-direction: row;
    background-image: url(/HuJA1/img/download.jpeg);
    background-repeat: no-repeat;
    height: 200px;
    justify-content: flex-end;
    gap: 50px;

}