.container {
    background-color: beige;
    width: 80%;
    height: 500px;
    padding: 25px;
    margin: 50px 75px;
}

.background {
    background-color: purple;
    width: 50%;
    height: 100px;
    position: fixed;
    top: 0;
}

.list {
    list-style-type: none;
}

.navbar li {
    display: inline-block;
    background-color: limegreen;
}

.item {
    color: black;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    text-align: center;
    margin: 5px;
}

.item:hover {
    background-color: red;
}

.rightbox {
    width: 300px;
    height: 200px;
    background-color: aqua;
    padding: 20px;
    float: right;
    margin: 20px;
}